snippet iE "import Ember"
import Ember from 'ember';
endsnippet

snippet eoc "Ember Object Create"
EmberObject.create({
  $0
});
endsnippet

snippet etest "QUnit test"
test('$1', function(assert) {
  $0
});
endsnippet

snippet comp "Ember computed property"
computed('$1', function() {
  $0
})
endsnippet
