snippet imcontroller "Ember.Controller"
import Controller from '@ember/controller';
endsnippet

snippet iminjectController "Ember.inject.controller"
import { inject as controller } from '@ember/controller';
endsnippet

