snippet imservice "import Ember.Service"
import Service from '@ember/service';
$0
endsnippet

snippet iminjectService "import Ember.inject.service"
import { inject as service } from '@ember/service';
$0
endsnippet

