snippet imtestAdapter "Ember.Test.Adapter: Ember module"
import Test.Adapter from '@ember/test/adapter';
endsnippet

snippet imregisterAsyncHelper "Ember.Test.registerAsyncHelper: Ember module"
import { registerAsyncHelper } from '@ember/test';
endsnippet

snippet imregisterHelper "Ember.Test.registerHelper: Ember module"
import { registerHelper } from '@ember/test';
endsnippet

snippet imregisterWaiter "Ember.Test.registerWaiter: Ember module"
import { registerWaiter } from '@ember/test';
endsnippet

snippet imunregisterHelper "Ember.Test.unregisterHelper: Ember module"
import { unregisterHelper } from '@ember/test';
endsnippet

snippet imunregisterWaiter "Ember.Test.unregisterWaiter: Ember module"
import { unregisterWaiter } from '@ember/test';
endsnippet

snippet imclick "click from '@ember/test-helpers': Ember module"
import { click } from '@ember/test-helpers';
endsnippet

snippet imdoubleClick "doubleClick from '@ember/test-helpers': Ember module"
import { doubleClick } from '@ember/test-helpers';
endsnippet

snippet imtap "tap from '@ember/test-helpers': Ember module"
import { tap } from '@ember/test-helpers';
endsnippet

snippet imfocus "focus from '@ember/test-helpers': Ember module"
import { focus } from '@ember/test-helpers';
endsnippet

snippet imblur "blur from '@ember/test-helpers': Ember module"
import { blur } from '@ember/test-helpers';
endsnippet

snippet imtriggerEvent "triggerEvent from '@ember/test-helpers': Ember module"
import { triggerEvent } from '@ember/test-helpers';
endsnippet

snippet imtriggerKeyEvent "triggerKeyEvent from '@ember/test-helpers': Ember module"
import { triggerKeyEvent } from '@ember/test-helpers';
endsnippet

snippet imfillIn "fillIn from '@ember/test-helpers': Ember module"
import { fillIn } from '@ember/test-helpers';
endsnippet

snippet imfind "find from '@ember/test-helpers': Ember module"
import { find } from '@ember/test-helpers';
endsnippet

snippet imfindAll "findAll from '@ember/test-helpers': Ember module"
import { findAll } from '@ember/test-helpers';
endsnippet

snippet imgetRootElement "getRootElement from '@ember/test-helpers': Ember module"
import { getRootElement } from '@ember/test-helpers';
endsnippet

snippet imvisit "visit from '@ember/test-helpers': Ember module"
import { visit } from '@ember/test-helpers';
endsnippet

snippet imcurrentRouteName "currentRouteName from '@ember/test-helpers': Ember module"
import { currentRouteName } from '@ember/test-helpers';
endsnippet

snippet imcurrentURL "currentURL from '@ember/test-helpers': Ember module"
import { currentURL } from '@ember/test-helpers';
endsnippet

snippet imrender "render from '@ember/test-helpers': Ember module"
import { render } from '@ember/test-helpers';
endsnippet

snippet imclearRender "clearRender from '@ember/test-helpers': Ember module"
import { clearRender } from '@ember/test-helpers';
endsnippet

snippet imWait "Wait from '@ember/test-helpers': Ember module"
import { Wait } from '@ember/test-helpers';
endsnippet

snippet imwaitFor "waitFor from '@ember/test-helpers': Ember module"
import { waitFor } from '@ember/test-helpers';
endsnippet

snippet imwaitUntil "waitUntil from '@ember/test-helpers': Ember module"
import { waitUntil } from '@ember/test-helpers';
endsnippet

snippet imsettled "settled from '@ember/test-helpers': Ember module"
import { settled } from '@ember/test-helpers';
endsnippet

snippet imisSettled "isSettled from '@ember/test-helpers': Ember module"
import { isSettled } from '@ember/test-helpers';
endsnippet

snippet imgetSettledState "getSettledState from '@ember/test-helpers': Ember module"
import { getSettledState } from '@ember/test-helpers';
endsnippet

snippet impauseTest "pauseTest from '@ember/test-helpers': Ember module"
import { pauseTest } from '@ember/test-helpers';
endsnippet

snippet imresumeTest "resumeTest from '@ember/test-helpers': Ember module"
import { resumeTest } from '@ember/test-helpers';
endsnippet

snippet imsetResolver "setResolver from '@ember/test-helpers': Ember module"
import { setResolver } from '@ember/test-helpers';
endsnippet

snippet imgetResolver "getResolver from '@ember/test-helpers': Ember module"
import { getResolver } from '@ember/test-helpers';
endsnippet

snippet imsetupContext "setupContext from '@ember/test-helpers': Ember module"
import { setupContext } from '@ember/test-helpers';
endsnippet

snippet imgetContext "getContext from '@ember/test-helpers': Ember module"
import { getContext } from '@ember/test-helpers';
endsnippet

snippet imsetContext "setContext from '@ember/test-helpers': Ember module"
import { setContext } from '@ember/test-helpers';
endsnippet

snippet imunsetContext "unsetContext from '@ember/test-helpers': Ember module"
import { unsetContext } from '@ember/test-helpers';
endsnippet

snippet imteardownContext "teardownContext from '@ember/test-helpers': Ember module"
import { teardownContext } from '@ember/test-helpers';
endsnippet

snippet imsetupRenderingContext "setupRenderingContext from '@ember/test-helpers': Ember module"
import { setupRenderingContext } from '@ember/test-helpers';
endsnippet

snippet imteardownRenderingContext "teardownRenderingContext from '@ember/test-helpers': Ember module"
import { teardownRenderingContext } from '@ember/test-helpers';
endsnippet

snippet imgetApplication "getApplication from '@ember/test-helpers': Ember module"
import { getApplication } from '@ember/test-helpers';
endsnippet

snippet imsetApplication "setApplication from '@ember/test-helpers': Ember module"
import { setApplication } from '@ember/test-helpers';
endsnippet

snippet imsetupApplicationContext "setupApplicationContext from '@ember/test-helpers': Ember module"
import { setupApplicationContext } from '@ember/test-helpers';
endsnippet

snippet imteardownApplicationContext "teardownApplicationContext from '@ember/test-helpers': Ember module"
import { teardownApplicationContext } from '@ember/test-helpers';
endsnippet

snippet imvalidateErrorHandler "validateErrorHandler from '@ember/test-helpers': Ember module"
import { validateErrorHandler } from '@ember/test-helpers';
endsnippet

