snippet imcontroller "import Ember.Controller"
import Controller from '@ember/controller';
$0
endsnippet

snippet iminjectController "import Ember.inject.controller"
import { inject as controller } from '@ember/controller';
$0
endsnippet

