snippet imengine "Ember.Engine"
import Engine from '@ember/engine';
endsnippet

snippet imengineInst "Ember.EngineInstance"
import EngineInstance from '@ember/engine/instance';
endsnippet

snippet imgetEngineParent "Ember.getEngineParent"
import { getEngineParent } from '@ember/engine';
endsnippet

