snippet immap "Ember.Map: Ember module"
import EmberMap from '@ember/map';
endsnippet

snippet immapWDefault "Ember.MapWithDefault: Ember module"
import MapWithDefault from '@ember/map/with-default';
endsnippet

