snippet imtestAdapter "import Ember.Test.Adapter"
import Test.Adapter from '@ember/test/adapter';
$0
endsnippet

snippet imregisterAsyncHelper "import Ember.Test.registerAsyncHelper"
import { registerAsyncHelper } from '@ember/test';
$0
endsnippet

snippet imregisterHelper "import Ember.Test.registerHelper"
import { registerHelper } from '@ember/test';
$0
endsnippet

snippet imregisterWaiter "import Ember.Test.registerWaiter"
import { registerWaiter } from '@ember/test';
$0
endsnippet

snippet imunregisterHelper "import Ember.Test.unregisterHelper"
import { unregisterHelper } from '@ember/test';
$0
endsnippet

snippet imunregisterWaiter "import Ember.Test.unregisterWaiter"
import { unregisterWaiter } from '@ember/test';
$0
endsnippet

