snippet imengine "Ember.Engine: Ember module"
import Engine from '@ember/engine';
endsnippet

snippet imengineInst "Ember.EngineInstance: Ember module"
import EngineInstance from '@ember/engine/instance';
endsnippet

snippet imgetEngineParent "Ember.getEngineParent: Ember module"
import { getEngineParent } from '@ember/engine';
endsnippet

