snippet immap "import Ember.Map"
import EmberMap from '@ember/map';
$0
endsnippet

snippet immapWDefault "import Ember.MapWithDefault"
import MapWithDefault from '@ember/map/with-default';
$0
endsnippet

