snippet imengine "import Ember.Engine"
import Engine from '@ember/engine';
endsnippet

snippet imengineInst "import Ember.EngineInstance"
import EngineInstance from '@ember/engine/instance';
endsnippet

snippet imgetEngineParent "import Ember.getEngineParent"
import { getEngineParent } from '@ember/engine';
endsnippet

