snippet imservice "Ember.Service: Ember module"
import Service from '@ember/service';
endsnippet

snippet iminjectService "Ember.inject.service: Ember module"
import { inject as service } from '@ember/service';
endsnippet

