snippet imtracked "{ tracked } from @glimmer/tracking"
import { tracked } from '@glimmer/tracking';
endsnippet

snippet imglimmercomponent "Glimmer Componnet"
import Component from '@glimmer/component';
endsnippet
