snippet imassign "import Ember module"
import { assign } from '@ember/polyfills';
endsnippet

snippet imkeys "import Ember module"
import { keys } from '@ember/polyfills';
endsnippet

snippet immerge "import Ember module"
import { merge } from '@ember/polyfills';
endsnippet

snippet imcreate "import Ember module"
import { create } from '@ember/polyfills';
endsnippet

snippet imhasPropertyAccessors "import Ember module"
import { hasPropertyAccessors } from '@ember/polyfills';
endsnippet

